body {
  background-color: #28df99;
}

hr {
  border-style: dotted none none none;
  border-bottom-style: none;
  border-left-style: none;
  border-right-style: none;
  border-width: 6px;
  width: 5%;
  border-color: #f6f7d4;
}

h1,
h3 {
  color: #1e5f74;
}


